nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 20px;
    background-color: pink;
    color: purple;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
ul li a {
    text-decoration: none;
    font-weight: bold;
}
ul li a.active {
    color: red;
}